.squeezed {
  width: 36px;
  img {
    padding-right: 2px;
    padding-top: 1px;
  }
  transition: 0.4s ease-in;
}

.stretched {
  width: 150px;
  img {
    padding-left: 8px;
  }
  .x {
    padding-right: 8px;
  }
  transition: 0.4s ease-in;
}

.search,
.remove {
  background-color: #c4c4c4;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  .inactive {
    visibility: hidden;
    opacity: 0;
    width: 0;
  }
}

input,
select {
  width: 107px;
  height: 18px;
  border-radius: 20px;
  border: none;
  outline: none;
  transition: 0.4s ease-in;
}

select {
  height: 20px;
}
